/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-image {
  background-image: url(../assets/spritesheet.png);
  background-position: -60px -31px;
  width: 24px;
  height: 24px;
}
.icon-align-center {
  background-image: url(../assets/spritesheet.png);
  background-position: -91px 0px;
  width: 31px;
  height: 28px;
}
.icon-align-justified {
  background-image: url(../assets/spritesheet.png);
  background-position: -91px -28px;
  width: 31px;
  height: 28px;
}
.icon-align-left {
  background-image: url(../assets/spritesheet.png);
  background-position: -91px -56px;
  width: 31px;
  height: 28px;
}
.icon-align-right {
  background-image: url(../assets/spritesheet.png);
  background-position: 0px -88px;
  width: 31px;
  height: 28px;
}
.icon-background-active {
  background-image: url(../assets/spritesheet.png);
  background-position: -31px -88px;
  width: 24px;
  height: 24px;
}
.icon-background {
  background-image: url(../assets/spritesheet.png);
  background-position: -55px -88px;
  width: 24px;
  height: 24px;
}
.icon-bring-forward {
  background-image: url(../assets/spritesheet.png);
  background-position: 0px -140px;
  width: 22px;
  height: 22px;
}
.icon-bring-to-front {
  background-image: url(../assets/spritesheet.png);
  background-position: -22px -140px;
  width: 22px;
  height: 22px;
}
.icon-burger {
  background-image: url(../assets/spritesheet.png);
  background-position: -60px -57px;
  width: 30px;
  height: 30px;
}
.icon-check {
  background-image: url(../assets/spritesheet.png);
  background-position: -173px 0px;
  width: 16px;
  height: 14px;
}
.icon-chevron-down {
  background-image: url(../assets/spritesheet.png);
  background-position: -148px -140px;
  width: 19px;
  height: 12px;
}
.icon-chevron-right {
  background-image: url(../assets/spritesheet.png);
  background-position: -173px -43px;
  width: 8px;
  height: 15px;
}
.icon-collapse {
  background-image: url(../assets/spritesheet.png);
  background-position: -173px -58px;
  width: 12px;
  height: 3px;
}
.icon-color-wheel {
  background-image: url(../assets/spritesheet.png);
  background-position: -24px 0px;
  width: 36px;
  height: 36px;
}
.icon-crop {
  background-image: url(../assets/spritesheet.png);
  background-position: -44px -140px;
  width: 22px;
  height: 22px;
}
.icon-delete {
  background-image: url(../assets/spritesheet.png);
  background-position: -79px -88px;
  width: 24px;
  height: 24px;
}
.icon-download {
  background-image: url(../assets/spritesheet.png);
  background-position: -173px -14px;
  width: 14px;
  height: 16px;
}
.icon-drawer-toggle {
  background-image: url(../assets/spritesheet.png);
  background-position: 0px 0px;
  width: 24px;
  height: 57px;
}
.icon-duplicate {
  background-image: url(../assets/spritesheet.png);
  background-position: 0px -116px;
  width: 24px;
  height: 24px;
}
.icon-elements-active {
  background-image: url(../assets/spritesheet.png);
  background-position: -24px -116px;
  width: 24px;
  height: 24px;
}
.icon-elements {
  background-image: url(../assets/spritesheet.png);
  background-position: -48px -116px;
  width: 24px;
  height: 24px;
}
.icon-expand {
  background-image: url(../assets/spritesheet.png);
  background-position: -173px -30px;
  width: 12px;
  height: 13px;
}
.icon-files-active {
  background-image: url(../assets/spritesheet.png);
  background-position: -149px -119px;
  width: 24px;
  height: 21px;
}
.icon-files {
  background-image: url(../assets/spritesheet.png);
  background-position: -24px -36px;
  width: 24px;
  height: 21px;
}
.icon-lock {
  background-image: url(../assets/spritesheet.png);
  background-position: -103px -88px;
  width: 16px;
  height: 23px;
}
.icon-logo-active {
  background-image: url(../assets/spritesheet.png);
  background-position: -72px -116px;
  width: 24px;
  height: 24px;
}
.icon-logo {
  background-image: url(../assets/spritesheet.png);
  background-position: -96px -116px;
  width: 24px;
  height: 24px;
}
.icon-rotate {
  background-image: url(../assets/spritesheet.png);
  background-position: -149px -96px;
  width: 22px;
  height: 23px;
}
.icon-save {
  background-image: url(../assets/spritesheet.png);
  background-position: -122px -97px;
  width: 16px;
  height: 16px;
}
.icon-search {
  background-image: url(../assets/spritesheet.png);
  background-position: -120px -116px;
  width: 24px;
  height: 24px;
}
.icon-send-backward {
  background-image: url(../assets/spritesheet.png);
  background-position: -66px -140px;
  width: 22px;
  height: 22px;
}
.icon-send-to-back {
  background-image: url(../assets/spritesheet.png);
  background-position: -88px -140px;
  width: 22px;
  height: 22px;
}
.icon-share {
  background-image: url(../assets/spritesheet.png);
  background-position: -132px -140px;
  width: 16px;
  height: 16px;
}
.icon-templates-active {
  background-image: url(../assets/spritesheet.png);
  background-position: -149px -48px;
  width: 22px;
  height: 24px;
}
.icon-templates {
  background-image: url(../assets/spritesheet.png);
  background-position: -149px -72px;
  width: 22px;
  height: 24px;
}
.icon-text-active {
  background-image: url(../assets/spritesheet.png);
  background-position: -149px 0px;
  width: 24px;
  height: 24px;
}
.icon-text-bold {
  background-image: url(../assets/spritesheet.png);
  background-position: -122px -32px;
  width: 24px;
  height: 33px;
}
.icon-text-italic {
  background-image: url(../assets/spritesheet.png);
  background-position: -122px -65px;
  width: 20px;
  height: 32px;
}
.icon-text-underline {
  background-image: url(../assets/spritesheet.png);
  background-position: -122px 0px;
  width: 27px;
  height: 32px;
}
.icon-text {
  background-image: url(../assets/spritesheet.png);
  background-position: -149px -24px;
  width: 24px;
  height: 24px;
}
.icon-undo-redo {
  background-image: url(../assets/spritesheet.png);
  background-position: -110px -140px;
  width: 22px;
  height: 20px;
}
.icon-v-align-bottom {
  background-image: url(../assets/spritesheet.png);
  background-position: 0px -57px;
  width: 30px;
  height: 31px;
}
.icon-v-align-center {
  background-image: url(../assets/spritesheet.png);
  background-position: -60px 0px;
  width: 31px;
  height: 31px;
}
.icon-v-align-top {
  background-image: url(../assets/spritesheet.png);
  background-position: -30px -57px;
  width: 30px;
  height: 31px;
}
