// colors
@green: #03A74F;

@lightGreen: #03A74F;
@royalBlue: #126CB5;


// shades  of gray...
@lightGray: #F2EFEA;
@gray: #E1E1E1;
@gray2: #E5E5E5;
@gray3: #B2B1B1;
@darkGray: #333333;

@btnPrimaryBgColor: @green;
@btnPrimaryFontColor: white;

@headerBgColor: white;
@headerBorderColor: @gray;

@btnDefaultBgColor: @lightGray;
@btnDefaultFontColor: black;

@leftNavGradientBottom: @royalBlue;
@leftNavGradientTop: @lightGreen;

@pageContentBgColor: @gray2;

@canvasWrapperBgColor: white;
@canvasWrapperBorderColor: @gray3;

@leftNavMenuItemTextColor: white;
@leftNavMenuItemActiveTextColor: @darkGray;

@drawerBgColor: white;