// colors
@primaryBackgroundColor: #E5E5E5;
@secondaryBackgroundColor: #FFFFFF;
@thirdBackgroundColor: #03A74F;
@fourthBackgroundColor: #126CB5;
@btnDefaultBgColor: #F2EFEA;

@headerBorderColor: #E1E1E1;
@pageContentBgColor: #E5E5E5;
@canvasWrapperBorderColor: #B2B1B1;
@btnDefaultFontColor: #333333;
@btnFontColorThird: #000000;
@selectedCanvasElementBorderColor: #2D9CDB;
@addTextOptionBgColor: #F8F7F5;
@pageButtonFontColor: #757575;

@mobileOnly        : ~"(max-width: 767px)";
@tabletOnly        : ~"(min-width: 768px) and (max-width: 991px))";
@tabletAndLarger  : ~"(min-width: 768px)";
@tabletAndBelow   : ~"(max-width: 991px)";
@desktopOnly       : ~"(min-width: 992px) and (max-width: 1199px)";
@desktopAndBelow  : ~"(max-width: 1199px)";
@desktopAndLarger : ~"(min-width: 992px)";
@largerThanDesktop: ~"(min-width: 1200px)";

@primaryFontFamily: "Open Sans", "Lato", sans-serif;
@inputFontFamily: "Lato", sans-serif;

@headerHeight: 56px;