@import "../../variables.less";

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 13px 19px 11px 13px;
    width: 100%;
    background-color: @headerBgColor;
    border-bottom: @headerBorderColor 1px solid;
    z-index: 999;
    
    .mobile-menu {
        display: none;
        position: relative;
        
        .mobile-menu-dropdown {
            background-color: white;
            max-height: 0;
            transition: max-height ease-in-out 0.25s;
            position: absolute;
            top: calc(100% + 10px);
            right: 0;
            overflow: hidden;
            border-left: 1px @gray solid;
            box-shadow: 1px 1px 3px @gray;
            padding-left: 10px;
            padding-right: 10px;
            
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    text-align: left;
                    margin-bottom: 5px;

                    button {
                        white-space: nowrap;
                        border: none;
                        background-color: transparent;
                        padding: 8px;
                        font-size: 1.6rem;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .burger-menu-toggle {
            border: none;            
            background-color: white;
        }

        &.open {
            .mobile-menu-dropdown {
                padding: 10px;
                max-height: 70vh;
            }
        }
    }

    .brand {
        width: 126.56px;
        height: 32px;
        display: inline-block;
    }

    .inner-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .right {
        button {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@import "./header-mobile.less";