@import "../../variables.less";

header {
    padding: 10px 16px 10px 25.09px;
    width: 100%;
    height: @headerHeight;
    background-color: @secondaryBackgroundColor;
    border-bottom: @headerBorderColor 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    .desktop-menu {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .mobile-menu {
        display: none;
        position: relative;
        z-index: 999;
        padding-top: 4.44px;

        .mobile-menu-dropdown {
            background-color: white;
            max-height: 0;
            transition: max-height ease-in-out 0.25s;
            position: absolute;
            top: calc(100% + 18px);
            right: 0;
            overflow: hidden;
            border-left: 1px @headerBorderColor solid;
            box-shadow: 1px 1px 3px @headerBorderColor;
            padding-left: 10px;
            padding-right: 10px;
            
            ul {
                padding: 0;
                margin: 0;

                li {
                    text-align: left;
                    margin-bottom: 5px;

                    button {
                        white-space: nowrap;
                        border: none;
                        background-color: transparent;
                        padding: 8px;
                        font-size: 14px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .burger-menu-toggle {
            border: none;
            background: url('/assets/burger-menu.svg') center center no-repeat white;
            height: 20px;
            width: 20px;
            margin: 0;
        }

        &.open {
            .mobile-menu-dropdown {
                padding: 10px;
                max-height: 400px;
            }
        }
    }

    .left {
        padding-top: 4.44px;

        .brand {
            width: 115.06px;
            height: 28.76px;
            display: inline-block;
        }
    }
    .inner-wrapper {
        display: flex;
        justify-content: space-between;
    }
}