@import "../../variables.less";

.left-nav {
    background: linear-gradient(180deg, @leftNavGradientTop 0%, @leftNavGradientBottom 100%);
    min-height: 100vh;
    width: 88px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 62px;
    position: relative;
    overflow: visible;

    hr {
        background: rgba(255, 255, 255, 0.5);
        height: 1px;
        width: calc(100% - 16px);
        margin-left: 8px;
        margin: 17.5px 8px 33.14px 8px;
    }

    .undo-redo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }

    .menu-item {
        display: inline-block;
        width: 100%;
        padding: 56px 0 24px;
        background-color: transparent;
        color: @leftNavMenuItemTextColor;
        background-repeat: no-repeat;
        background-position: center 25px ;
        cursor: pointer;

        &:focus, &:hover {
            color: @leftNavMenuItemTextColor;
        }

        &.active {
            background-color: white;
            color: @leftNavMenuItemActiveTextColor;
        }

        &.templates {
            background-image: url("/assets/templates.png");

            &.active {
                background-image: url("/assets/templates-active.png");
            }
        }

        &.logo {
            background-image: url("/assets/logo.png");

            &.active {
                background-image: url("/assets/logo-active.png");
            }
        }

        &.files {
            background-image: url("/assets/files.png");

            &.active {
                background-image: url("/assets/files-active.png");
            }
        }

        &.text {
            background-image: url("/assets/text.png");

            &.active {
                background-image: url("/assets/text-active.png");
            }
        }

        &.elements {
            background-image: url("/assets/elements.png");

            &.active {
                background-image: url("/assets/elements-active.png");
            }
        }

        &.background {
            background-image: url("/assets/background.png");

            &.active {
                background-image: url("/assets/background-active.png");
            }
        }
    }
}