@import "../../variables.less";

.site-btn-primary {
    &:extend(.site-btn-base);
    background-color: @thirdBackgroundColor;
    color: @secondaryBackgroundColor;
    font-weight: bold;
    padding: 8px 24px;
}