@import "../../variables.less";

.site-btn-primary {
    &:extend(.site-btn-base);
    background-color: @btnPrimaryBgColor;
    color: @btnPrimaryFontColor;
    font-weight: bold;
}

@import './site-btn-base.less';