.site-btn-redo {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 25.85px;

    i {
        display: inline-block;
    }
    
    &:disabled {
        opacity: 0.25;    
    }
}