@import "../../mixins.less";

.site-btn-default {
    position: relative;
    .site-btn-base();
    background-color: @btnDefaultBgColor;
    color: @btnDefaultFontColor;

    &.active {
        background-color: @fourthBackgroundColor;
        color: @secondaryBackgroundColor;
    }
}