@import "../../variables.less";

.site-btn-default {
    &:extend(.site-btn-base);
    background-color: @btnDefaultBgColor;
    color: @btnDefaultFontColor;

    &.active {
        background-color: @btnActiveBgColor;
        color: @btnActiveFontColor;
    }
}

@import './site-btn-base.less';