.site-btn-redo {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 25.85px;
    background-image: url('/assets/undo-redo.svg');
    cursor: pointer;

    &:disabled {
        opacity: 0.25;    
        cursor:default;
    }
}