@import '../../compiled-global-styles/global-styles-mobile.less';
@import '../../variables.less';

.page-cloud-dt {
    .workspace-section {
        overflow: scroll;
    }

    .background-drawer {
        .accordion-body {
            .comp-fixed-column-list {
                column-gap: 4px;
                row-gap: 4px;
            }
        }
    }
}
