@import '../../compiled-global-styles/global-styles.less';
@import '../../variables.less';

.page-cloud-dt {
    font-family: @primaryFontFamily;
    text-align: center;
    
    .page-content {
        background-color: @pageContentBgColor;
        position: relative;
        height: calc(100% - @headerHeight);
        min-height: 720px;
    }

    .inner-wrapper {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 88px auto;        
    }

    .workspace-section {
        padding: 59px 0 59px 88px;
        position: relative;
    }

    .canvas-wrapper {
        background-color: @canvasWrapperBgColor;
        width: 784.64px;
        height: 439.11px;
        box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.08);
        border: 1px solid @canvasWrapperBorderColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .option-list-section {
        padding-top: 24px;
    }

    .logo-options-section {
        .site-btn-large {
            margin-bottom: 1.6rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        hr {
            margin: 24px 0;
            width: 100%;
            background-color: @gray;
            border: none;
        }

        .logo-option-buttons {
            .site-btn-link {
                display: block;
                margin-bottom: 16px;
            }
        }
    }

    .files-options-section {
        .info {
            text-align: center;
            padding-top: 1.3rem;
        }
    }

    .info {
        color: @gray3;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.6rem;
    }

    .file-operation-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;

        button {
            width: 33%;
            background-color: transparent;
            border: none;
            text-align: center;
            outline: none !important;
            margin-bottom: 25.4px;
            font-size: 1.2rem;

            i {
                display: block;
                margin: 0 auto 10px;
            }
        }
    }

    .opacity-slider-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.9rem;
        padding-top: 30px;

        .opacity-slider-wrapper {
            width: 100px;
        }
    }

    .stock-images-pane-contents {
        h3{
            color: @darkGray;
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 600;
        }

        h4 {
            color: @darkGray;
            font-size: 1.4rem;
            line-height: 1.9rem;
            font-weight: 700;
            margin-bottom: 1.6rem;
        }

        .site-search-input {
            margin: 24px 0;
        }

        .popular-search-list {

            column-count: 2;
            a {
                color: @green;
                display: block;
                font-size: 1.4rem;
                line-height: 1.5em;
            }
        }
    }
}