@import '../../compiled-global-styles/global-styles.less';
@import '../../variables.less';

.page-cloud-dt {
    font-family: @primaryFontFamily;
    text-align: center;
    
    .page-content {
        background-color: @pageContentBgColor;
        position: relative;
        height: 100%;
        min-height: 720px;
        margin-top: 56px;
    }

    .inner-wrapper {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 88px auto;        
    }

    .workspace-section {
        padding: 59px 0 59px 88px;
        position: relative;
    }

    .option-list-section {
        padding-top: 24px;
    }

    .logo-options-section {
        .site-btn-large {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        hr {
            margin: 24px 0;
            width: 100%;
            background-color: @headerBorderColor;
            border: none;
        }

        .logo-option-buttons {
            padding-top: 7.45px;
        }

        .site-btn-link {
            display: block;
            margin-bottom: 16px;
        }
    }

    .files-options-section {
        margin-top: 24px;
        .info {
            text-align: center;
            padding-top: 13px;
        }
    }

    .info {
        color: @canvasWrapperBorderColor;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .file-operation-options-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 23.5px;
        row-gap: 25.4px;
        margin-left: -6px;

        button {
            background-color: transparent;
            border: none;
            text-align: center;
            outline: none !important;
            font-size: 12px;
            line-height: 16px;
            display: block;
            width: 100%;
            padding: 30.06px 0 0;
            color: @btnDefaultFontColor;
            background-position: center top;
            background-repeat: no-repeat;

            &.btn-bring-to-front {
                background-image: url('/assets/bring-to-front.svg');
            }
            &.btn-bring-forward {
                background-image: url('/assets/bring-forward.svg');
            }
            &.btn-duplicate {
                background-image: url('/assets/duplicate.svg');
            }
            &.btn-send-to-back {
                background-image: url('/assets/send-to-back.svg');
            }
            &.btn-send-backward {
                background-image: url('/assets/send-backward.svg');
            }
            &.btn-delete {
                background-image: url('/assets/delete.svg');
            }
            &.btn-crop {
                background-image: url('/assets/crop.svg');
            }
            &.btn-rotate {
                background-image: url('/assets/rotate.svg');
            }
            &.btn-lock {
                background-image: url('/assets/lock.svg');
            }
        }
    }

    .opacity-slider-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 19px;
        padding-top: 56px;

        .opacity-slider-wrapper {
            width: 100px;
        }
    }

    .stock-images-pane-contents {
        h3{
            color: @btnDefaultFontColor;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
        }

        h4 {
            color: @btnDefaultFontColor;
            font-size: 14px;
            line-height: 19px;
            font-weight: bold;
        }

        .comp-search-input {
            margin: 24px 0;
        }

        .popular-search-list {
            padding-top: 16px;
            display: grid;
            column-count: 2;
            grid-template-columns: 1fr 1fr;
            a {
                color: @thirdBackgroundColor;
                display: block;
                font-size: 14px;
                line-height: 150%;
            }
        }
    }

    .add-text-options {
        padding-bottom: 24px;

        > p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            color: @btnDefaultFontColor;
            margin-bottom: 16px;
        }

        ul {
            display: grid;
            row-gap: 8px;
            grid-template-columns: 1fr;

            button {
                display: block;
                width: 100%;
                border: none;
                background-color: @addTextOptionBgColor;
                text-align: left;
                padding: 16px;
                font-family: @inputFontFamily;
                color: @btnDefaultFontColor;
                letter-spacing: 0.25px;
                line-height: 100%;
                line-height: 100%;

                &.btn-add-heading {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 26px;
                    
                }

                &.btn-add-subheading {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                }

                &.btn-add-body-text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                }
            }
        }
    }

    .text-options {
        margin-top: 24px;
        column-gap: 16px;
        row-gap: 16px;

        li {
            border: @headerBorderColor 1px solid;
            height: 139px;
            width: 139px;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}