.comp-masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
    grid-gap: 3px;
    grid-auto-rows: 2px;

    &::-webkit-scrollbar {
        display: none;
    }

    > li {
        margin-bottom: 5.08px;
        position: relative;
        
        img {
            max-width: 100%;
            display: block;
            border: 3px solid transparent;
        }

        &.selected {
            img {
                border-color: @thirdBackgroundColor;
            }
            &:before {
                content: "";
                height: 24px;
                width: 24px;
                border-radius: 50% 50%;
                position: absolute;
                top: 4px;
                right: 11px;
                background: url('/assets/check.svg') center center no-repeat @thirdBackgroundColor;
            }
        }
    }
}