.comp-scrolling-pane {
    overflow: hidden;
    position: relative;

    .site-btn-default {
        padding: 8px;
        white-space: nowrap;
    }

    .btn-prev, .btn-next {
        position: absolute;
        top: 50%;
        border: none;
        height: 100%;
        width: 15px;
        display: none;
        box-shadow: 0 0 8px 14px rgba(255, 255, 255, 0.8);
        z-index: 998;
        
        &.active {
            display: block;
        }
    }

    .btn-prev {
        transform: translateY(-50%) scaleX(-1);
        background: url('/assets/chevron-right.svg') center center no-repeat @secondaryBackgroundColor;
    }

    .btn-next {
        right: 0;
        transform: translateY(-50%);
        background: url('/assets/chevron-right.svg') center center no-repeat @secondaryBackgroundColor;
    }

    .scrolling-pane-inner-wrapper {
        list-style-type: none;
        display: grid;
        grid-auto-flow: column;
        column-gap: 8px;
    }
}