.comp-dynamic-photo-grid {
    line-height: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }

    > div {
        display: inline-block;
        margin-bottom: 6px;
        position: relative;

        img {
            max-width: 100%;
        }

        .selected-indicator {
            height: 24px;
            width: 24px;
            border-radius: 50% 50%;
            position: absolute;
            top: 4px;
            right: 11px;
            background-color: @green;
            display: none;
        }

        &.selected {
            border: 3px solid @green;

            .selected-indicator {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}