.comp-dynamic-photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    grid-auto-flow: row dense;
    
    &::-webkit-scrollbar {
        display: none;
    }

    > li {
        margin-bottom: 5.08px;
        position: relative;
        border: 3px solid transparent;

        img {
            max-width: 100%;
            display: block;
        }

        &.selected {
            border-color: @thirdBackgroundColor;
            &:before {
                content: "";
                height: 24px;
                width: 24px;
                border-radius: 50% 50%;
                position: absolute;
                top: 4px;
                right: 11px;
                background: url('/assets/check.svg') center center no-repeat @thirdBackgroundColor;
            }
        }
    }
}