.comp-search-input {
    width: 100%;
    border: @gray 1px solid;
    position: relative;
    padding: 8px;
    background: url('/assets/search.svg') calc(100% - 8.53px) center no-repeat transparent;

    input {
        border: none;
        outline: none !important;
        line-height: 19px;
        font-size: 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        font-family: @inputFontFamily;
        
        &::placeholder {
            color: @gray3;
        }
    }

    i {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
    }
}